<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace:标注mapper全限定类名-->
<mapper namespace="com.chinasoft.mapper.IUserMapper">

    <!--配置映射的结果集-->
    <resultMap id="userMap" type="com.chinasoft.domain.User">
        <id property="id" column="id" javaType="java.lang.Integer"></id>
        <result property="userName" column="user_name" javaType="java.lang.String"></result>
        <result property="birthday" column="birthday" javaType="java.util.Date"></result>
        <result property="age" column="age" javaType="java.lang.Integer"></result>
        <result property="gender" column="gender" javaType="java.lang.String"></result>
        <result property="address" column="address" javaType="java.lang.String"/>

    </resultMap>
    <!--sql标签,可以共用-->
    <sql id="userSql">
        id,user_name,birthday,age,gender,address
    </sql>

    <!--查询所有用户-->
    <select id="findAll" resultMap="userMap">
        /*select *from tab_user*/
        select <include refid="userSql"/>
        from tab_user
    </select>
    <!--增加一个用户，设置可以获取自动生成的Id-->
    <insert id="addUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into tab_user(user_name,birthday,age,gender,address) values (#{userName},#{birthday},#{age},#{gender},#{address})

    </insert>
    <!--根据Id删除一个用户-->
    <delete id="deleteUserById" parameterType="java.lang.Integer">

        delete from tab_user where id=#{id}

    </delete>
    <!--更新一个用户-->
    <update id="updateUser" parameterType="User">
        update tab_user set user_name=#{userName},age=#{age} where id=#{id}

    </update>

    <!--通过id查找一个用户-->
    <select id="findUserById" parameterType="java.lang.Integer" resultMap="userMap">
        select * from tab_user where id=#{id}

    </select>
    <!--根据条件查询用户信息 条件语句 动态sql-->
    <!--  <select id="findUserByCondition" resultMap="userMap" parameterType="User">
          select * from tab_user
          <if test="userName !=null and userName !=''">
            AND user_name like "%"#{userName}"%"
          </if>
          <if test="gender !=null and gender !=''">

              AND gender like "%"#{gender}"%"

          </if>
      </select>-->
    <!--常用的动态sql书写方法-->
    <select id="findUserByCondition" resultMap="userMap" parameterType="User">
        select * from tab_user
        <where>
            <if test="userName !=null and userName !=''">
                user_name like "%"#{userName}"%"
            </if>
            <if test="gender !=null and gender !=''">

                gender like "%"#{gender}"%"

            </if>
        </where>
    </select>

</mapper>