<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--给实体类取别名-->
    <typeAliases>
        <package name="com.chinasoft.domain"/>
    </typeAliases>
    
    <!--配置环境-->
    <environments default="mysql">
        <!--配置mysql的环境-->
        <environment id="mysql">
            <!--配置事务管理器-->
            <transactionManager type="JDBC"></transactionManager>
            <!--配置数据源-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///mytest?useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <!--配置映射器-->
    <mappers>
        <!--指定配置文件地址-->
    <!-- <mapper resource="com/chinasoft/mapper/IUserMapper.xml"/>&ndash;&gt;-->
       <!--指定扫描的包的路径-->
        <package name="com.chinasoft.mapper"/>
    </mappers>
</configuration>